<a href="https://colab.research.google.com/github/jambhalerutuja/machine-learning-with-python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels=['w','x','y','z']
s_l=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [4]:
pd.Series(data=s_l)

0    100
1    200
2    300
3    400
dtype: int64

In [5]:
pd.Series(data=s_l,index=labels)

w    100
x    200
y    300
z    400
dtype: int64

In [6]:
pd.Series(s_l,array)

1    100
2    200
3    300
4    400
dtype: int64

In [7]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

In [9]:
s1=pd.Series([1,2,3,4],index=['cricket','ftball','bsktball','golf'])

In [10]:
s1['cricket']

1

In [11]:
s2=pd.Series([11,2,3,4],index=['cricket','ftball','bsball','golf'])

In [12]:
s1+s2

bsball       NaN
bsktball     NaN
cricket     12.0
ftball       4.0
golf         8.0
dtype: float64

In [14]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='score1 score2 score3 score4 score5'.split())
df1

     score1    score2    score3    score4    score5
A  0.943383  0.908029  0.280680  0.518955  0.704531
B  0.745972  0.239565  0.782630  0.384373  0.725659
C  0.971297  0.812115  0.424685  0.518188  0.734560
D  0.242089  0.929609  0.611722  0.941039  0.054685
E  0.386527  0.824405  0.730279  0.067225  0.171866
F  0.215359  0.228220  0.216360  0.000196  0.943783
G  0.215268  0.458710  0.645238  0.431856  0.006723
H  0.973275  0.527884  0.170106  0.425466  0.340933

In [15]:
df1['score3']

A    0.280680
B    0.782630
C    0.424685
D    0.611722
E    0.730279
F    0.216360
G    0.645238
H    0.170106
Name: score3, dtype: float64

In [17]:
df1[['score1','score2','score3']]

     score1    score2    score3
A  0.943383  0.908029  0.280680
B  0.745972  0.239565  0.782630
C  0.971297  0.812115  0.424685
D  0.242089  0.929609  0.611722
E  0.386527  0.824405  0.730279
F  0.215359  0.228220  0.216360
G  0.215268  0.458710  0.645238
H  0.973275  0.527884  0.170106

In [18]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','lolly'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  lolly     123

In [19]:
df["ID"]

0    101
1    102
2    103
3    107
4    176
Name: ID, dtype: object

In [20]:
df[['ID','Name']]

    ID   Name
0  101   John
1  102  Mercy
2  103  Akash
3  107  Kavin
4  176  lolly

In [21]:
df=df.drop('ID',axis=1)

In [22]:
df

    Name  Profit
0   John      20
1  Mercy      54
2  Akash      56
3  Kavin      87
4  lolly     123

In [23]:
df.drop(2,axis=0)

    Name  Profit
0   John      20
1  Mercy      54
3  Kavin      87
4  lolly     123