<a href="https://colab.research.google.com/github/jambhalerutuja/machine-learning-with-python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
###library=pandas(part1)

In [30]:
import pandas as pd
import numpy as np

In [31]:
labels=['w','x','y','z']
s_l=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [32]:
pd.Series(data=s_l)

0    100
1    200
2    300
3    400
dtype: int64

In [33]:
pd.Series(data=s_l,index=labels)

w    100
x    200
y    300
z    400
dtype: int64

In [34]:
pd.Series(s_l,array)

1    100
2    200
3    300
4    400
dtype: int64

In [35]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

In [36]:
s1=pd.Series([1,2,3,4],index=['cricket','ftball','bsktball','golf'])

In [37]:
s1['cricket']

1

In [38]:
s2=pd.Series([11,2,3,4],index=['cricket','ftball','bsball','golf'])

In [39]:
s1+s2

bsball       NaN
bsktball     NaN
cricket     12.0
ftball       4.0
golf         8.0
dtype: float64

In [40]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='score1 score2 score3 score4 score5'.split())
df1

     score1    score2    score3    score4    score5
A  0.156996  0.601513  0.272040  0.640139  0.336278
B  0.363363  0.318257  0.560610  0.334107  0.017004
C  0.784093  0.133369  0.452574  0.546234  0.837111
D  0.389055  0.851858  0.149490  0.967186  0.527328
E  0.262467  0.033341  0.070134  0.576214  0.643353
F  0.916626  0.274399  0.699765  0.272265  0.190194
G  0.607687  0.235255  0.942394  0.677871  0.655802
H  0.154227  0.476784  0.924458  0.648239  0.447216

In [41]:
df1['score3']

A    0.272040
B    0.560610
C    0.452574
D    0.149490
E    0.070134
F    0.699765
G    0.942394
H    0.924458
Name: score3, dtype: float64

In [42]:
df1[['score1','score2','score3']]

     score1    score2    score3
A  0.156996  0.601513  0.272040
B  0.363363  0.318257  0.560610
C  0.784093  0.133369  0.452574
D  0.389055  0.851858  0.149490
E  0.262467  0.033341  0.070134
F  0.916626  0.274399  0.699765
G  0.607687  0.235255  0.942394
H  0.154227  0.476784  0.924458

In [43]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','lolly'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  lolly     123

In [44]:
df["ID"]

0    101
1    102
2    103
3    107
4    176
Name: ID, dtype: object

In [45]:
df[['ID','Name']]

    ID   Name
0  101   John
1  102  Mercy
2  103  Akash
3  107  Kavin
4  176  lolly

In [46]:
df=df.drop('ID',axis=1)

In [47]:
df

    Name  Profit
0   John      20
1  Mercy      54
2  Akash      56
3  Kavin      87
4  lolly     123

In [48]:
df.drop(2,axis=0)

    Name  Profit
0   John      20
1  Mercy      54
3  Kavin      87
4  lolly     123

In [49]:
### library=pandas(part2)

In [50]:
df=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Datasets/main/CardioGoodFitness-1.csv")

In [51]:
df.sample(10)

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
155,TM798,25,Male,18,Partnered,6,5,75946,240
42,TM195,27,Male,16,Single,4,3,54576,85
68,TM195,38,Male,16,Partnered,3,3,46617,75
83,TM498,20,Male,14,Single,3,3,38658,95
4,TM195,20,Male,13,Partnered,4,2,35247,47
178,TM798,47,Male,18,Partnered,4,5,104581,120
175,TM798,40,Male,21,Single,6,5,83416,200
122,TM498,33,Male,16,Partnered,3,3,51165,95
128,TM498,35,Female,14,Partnered,3,2,52302,53
94,TM498,24,Female,14,Single,3,2,40932,85

In [52]:
df.shape

(180, 9)

In [53]:
df.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

In [55]:
df.isnull().sum()

Product          0
Age              0
Gender           0
Education        0
MaritalStatus    0
Usage            0
Fitness          0
Income           0
Miles            0
dtype: int64

In [56]:
df.describe(include="all")

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
count,180,180.000000,180,180.000000,180,180.000000,180.000000,180.000000,180.000000
unique,3,NaN,2,NaN,2,NaN,NaN,NaN,NaN
top,TM195,NaN,Male,NaN,Partnered,NaN,NaN,NaN,NaN
freq,80,NaN,104,NaN,107,NaN,NaN,NaN,NaN
mean,NaN,28.788889,NaN,15.572222,NaN,3.455556,3.311111,53719.577778,103.194444
std,NaN,6.943498,NaN,1.617055,NaN,1.084797,0.958869,16506.684226,51.863605
min,NaN,18.000000,NaN,12.000000,NaN,2.000000,1.000000,29562.000000,21.000000
25%,NaN,24.000000,NaN,14.000000,NaN,3.000000,3.000000,44058.750000,66.000000
50%,NaN,26.000000,NaN,16.000000,NaN,3.000000,3.000000,50596.500000,94.000000
75%,NaN,33.000000,NaN,16.000000,NaN,4.000000,4.000000,58668.000000,114.750000
max,NaN,50.000000,NaN,21.000000,NaN,7.000000,5.000000,104581.000000,360.000000